 body{
    background-color: #fbb616;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    align-items: center;
    background-color: yellow;
}
ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    width: 75%;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
}
.logo img{
    width: 100px;;
    height: 100px;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 20px;
}
li a:hover{
    color: white;
    background-color: red;
}
.en{
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}
.en:hover{
    color: white;
    background-color: red;
}
.search{
    cursor: pointer;
}
 

.sociallogo{
    align-items: center;
    margin: auto;
    width: 80%;
}





